<% for (var i in albums) { %>
  <li class="span3">
    <div class="thumbnail">
      <img src="<%= $(albums[i].description).find('img').attr('src') %>" alt="<%= albums[i].title %>">
      <div class="caption">
        <h4 style="height: 50px;"><%= albums[i].title %></h4>
        <p>Размещен: <%= albums[i].pubDate %></p>
        <p><a class="btn btn-danger" href="<%= albums[i].link %>">Смотреть фото</a></p>
      </div>
    </div>
  </li>
<% } %>
