<% for (var i in albums) { %>
  <div class="relax-item">
    <div class="relax-img">
      <a href="<%= albums[i].link %>">
        <img src="<%= $(albums[i].description).find('img').attr('src') %>" alt="<%= albums[i].title %>">
      </a>
    </div>
    <div class="relax-description">
      <small><%= albums[i].title %><br></small>
      <small>Размещен: <%= $(albums[i].description).find('font')[2].innerHTML %></small>
    </div>
  </div>
<% } %>
